#mission
  %h3 Meliora Global is a global health and development team that accelerates business growth and provides answers to complex social issues by connecting clients to our unique global network of financial, health, and strategic partners

#row  
  #serve
    .head
      %h4 Who We Serve
    %p  Our clients include organizations such as pharmaceutical and biotechnology firms looking to develop and deliver products in emerging and developing world markets, entrepreneurs working on sustainable health and agribusinesses, advocacy groups, corporations, foundations, philanthropists, investors, and not for profit global health partnerships.
    %p We help our clients build multi-sector collaborative partnerships to achieve their local, regional or global goals - connecting ideas, people and action.
    %p Whether you are an entrepreneur wanting to grow your business and market your success to attract capital, a global health partnership looking to attract partners and investors, or an individual or corporation interested in investing in market-based approaches at the bottom of the economic pyramid (BOP), Meliora Global can offer you a range of services to improve the performance of your investment and develop effective partnerships to achieve your goals including - strategy and planning, business development and fundraising, marketing and advocacy, government relations, performance and risk management, evaluation and reporting.
  #practice 
    %div c
  
  /
    #contact
      .head
        %h4 Contact Us
      %p kari@melioraglobal.com